:root{
  --bgmd-color:var(--background-primary);
  --bgmd-opa:.9;
  --bgmd-pos: top left;
  --bgmd-size:auto;
  --bgmd-rep: no-repeat;
}

.workspace-split.mod-root .view-content.forced-style-bgmd{
  position: relative;
}

.workspace-split.mod-root .view-content.forced-style-bgmd .markdown-rendered{
  position: relative;
  z-index: 1;
}

.workspace-split.mod-root .view-content.forced-style-bgmd .markdown-reading-view{
  background-image:var(--bgmd-img);
  background-repeat: var(--bgmd-rep);
  background-position: var(--bgmd-pos);
  background-size: var(--bgmd-size);
}

.workspace-split.mod-root .view-content.forced-style-bgmd .markdown-reading-view::after{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(var(--bgmd-color),.8);
  z-index: 0;
}

@media screen and ( min-width:700px ) {
  .workspace-split.mod-root .view-content.forced-style-bgmd.right-gradient .markdown-reading-view::after{
    background:linear-gradient(
                  to right,
                  rgba(var(--bgmd-color),var(--bgmd-opa)) calc( ((100% - var(--file-line-width) ) / 2 ) + var(--file-line-width) - 2rem),
                  rgba(var(--bgmd-color),calc(var(--bgmd-opa) - .15)) calc( ((100% - var(--file-line-width) ) / 2 ) + var(--file-line-width) + 2rem ),
                  transparent 100%
              );
  }
  .workspace-split.mod-root .view-content.forced-style-bgmd.center-gradient .markdown-reading-view::after{
    background:linear-gradient(
                  90deg,
                  transparent 0%,
                  rgba(var(--bgmd-color),calc(var(--bgmd-opa) - .15)) calc( ( ( 100% - var(--file-line-width) ) / 2 ) - 4rem ),
                  rgba(var(--bgmd-color),var(--bgmd-opa)) calc( ( ( 100% - var(--file-line-width) ) / 2 ) - 1rem ),
                  rgba(var(--bgmd-color),var(--bgmd-opa)) calc( ((100% - var(--file-line-width) ) / 2 ) + var(--file-line-width)),
                  rgba(var(--bgmd-color),calc(var(--bgmd-opa) - .15)) calc( ((100% - var(--file-line-width) ) / 2 ) + var(--file-line-width) + 4rem ),
                  transparent 100%
              );
  }
  .workspace-split.mod-root .view-content.forced-style-bgmd.left-gradient .markdown-reading-view::after{
    background:linear-gradient(
                  to left,
                  transparent 0%,
                  rgba(var(--bgmd-color),calc(var(--bgmd-opa) - .15)) calc( ( ( 100% - var(--file-line-width) ) / 2 ) - 4rem ),
                  rgba(var(--bgmd-color),var(--bgmd-opa)) 100%
              );
  }

  .workspace-split.mod-root .view-content.forced-style-bgmd.right-solid .markdown-reading-view::after{
    background:linear-gradient(
                  to right,
                  rgba(var(--bgmd-color),var(--bgmd-opa)),
                  rgba(var(--bgmd-color),var(--bgmd-opa)) calc( ((100% - var(--file-line-width) ) / 2 ) + var(--file-line-width) + 4rem ),
                  transparent calc( ((100% - var(--file-line-width) ) / 2 ) + var(--file-line-width) + 4rem ),
                  transparent 100%
              );
  }
  .workspace-split.mod-root .view-content.forced-style-bgmd.center-solid .markdown-reading-view::after{
    background:linear-gradient(
                  90deg,
                  transparent 0%,
                  transparent calc( ( ( 100% - var(--file-line-width) ) / 2 ) - 4rem ),
                  rgba(var(--bgmd-color),var(--bgmd-opa)) calc( ( ( 100% - var(--file-line-width) ) / 2 ) - 4rem ),
                  rgba(var(--bgmd-color),var(--bgmd-opa)) calc( ((100% - var(--file-line-width) ) / 2 ) + var(--file-line-width)),
                  rgba(var(--bgmd-color),var(--bgmd-opa)) calc( ((100% - var(--file-line-width) ) / 2 ) + var(--file-line-width) + 4rem ),
                  transparent calc( ((100% - var(--file-line-width) ) / 2 ) + var(--file-line-width) + 4rem ),
                  transparent 100%
              );
  }
  .workspace-split.mod-root .view-content.forced-style-bgmd.left-solid .markdown-reading-view::after{
    background:linear-gradient(
                  to left,
                  transparent 0%,
                  transparent calc( ( ( 100% - var(--file-line-width) ) / 2 ) - 4rem ),
                  rgba(var(--bgmd-color),var(--bgmd-opa)) calc( ( ( 100% - var(--file-line-width) ) / 2 ) - 4rem ),
                  rgba(var(--bgmd-color),var(--bgmd-opa)) 100%
              );
  }
}
